global:
  scrape_interval: 5s
  evaluation_interval: 5s

scrape_configs:
  - job_name: prometheus
    static_configs:
      - targets: 
        - '127.0.0.1:9090'

  - job_name: opencensus
    static_configs:
      - targets: 
        - 'grpc-server:19000'
        - 'grpc-client:19001'
        - 'http-server:9901'
        - 'http-client:9910'
